# test.yaml
name: Github Action Test

# on : Workflowの実行条件
on:
  # main brancheにpushされたばあい、test.yaml Workflowが実行される
  push:
    branches:
      - main

# Jobs
jobs:
  job_id1: 
    # runner 設定 (ノードに相当、Jobごとに設定可能)
    runs-on: jeong

    steps:
      # repositoryをcheckoutする
      - name: Checkout repository
        uses: actions/checkout@v4 # checkout action version4を利用

      # pythonを実行するためにPython環境をセットアップ
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12  # 3.12バージョンを利用
          check-latest: false   # Installされている場合、InstallせずCacheされているPythonを使う

      # CMDの動作確認
      - name: Run CMD Test
        shell: cmd
        run: echo "(cmd)%cd%" # CMD上で%cd%変数は現在パスを指す

      # PowerShellの動作確認
      - name: Run PowerShell Script Test
        shell: powershell
        run: echo "(shell)%cd%" # PowerShellでは%cd%は特に意味がない

      # Pythonの動作確認
      - name: Run Python Script test
        run: python ./test_script/test.py # repositoryのtest.pyを実行

  job_id2:
    runs-on: ubuntu-latest
    needs: job_id1
    if: ${{ always() }}

    steps:
      - name: Run ubuntu (github hosted)
        run: echo "(ubuntu)$PWD"