# test.yaml
name: Github Action Test

# on : Workflowの実行条件
on:
  # main brancheにpushされたばあい、test.yaml Workflowが実行される
  push:
    branches:
      - main

# Jobs
jobs:
  timeout-on-job: 
    runs-on: jeong
    timeout-minutes: 1 # timeout 1分設定

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # pythonを実行するためにPython環境をセットアップ
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12  # 3.12バージョンを利用
          check-latest: false   # Installされている場合、InstallせずCacheされているPythonを使う

      # Pythonの動作確認
      - name: Run timeout job1
        run: python ./test_script/timeout.py # repositoryのtest.pyを実行

      - name: timeout test 1-1
        shell: cmd
        run: echo "job1 timeout done" # CMD上で%cd%変数は現在パスを指す

  timeout-job-done:
    runs-on: jeong
    needs: timeout-on-job
    steps:
      # CMDの動作確認
      - name: timeout test 1-2
        shell: cmd
        run: echo "job2 timeout done" # CMD上で%cd%変数は現在パスを指す

  timeout-on-step:
    runs-on: jeong
    needs: timeout-job-done

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # pythonを実行するためにPython環境をセットアップ
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12  # 3.12バージョンを利用
          check-latest: false   # Installされている場合、InstallせずCacheされているPythonを使う

      # Pythonの動作確認
      - name: Run timeout job2
        run: python ./test_script/timeout.py # repositoryのtest.pyを実行
        timeout-minutes: 1

      - name: timeout test 2
        shell: cmd
        run: echo "job3 timeout done" # CMD上で%cd%変数は現在パスを指す